[alias]
    ci = commit -a
    co = checkout
    di = diff
    # https://stackoverflow.com/questions/949314/how-to-retrieve-the-hash-for-the-current-commit-in-git
    hash = rev-parse --verify HEAD
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    # Use 'git remote add upstream git://github.com/user/repo.git'
    # See http://gitready.com/intermediate/2009/02/12/easily-fetching-upstream-changes.html
    pu = !"git fetch origin -v && git fetch upstream -v && git merge upstream/master"
[apply]
    whitespace = fix
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[commit]
    # https://tekin.co.uk/2020/03/git-commit-verbose-mode
    verbose = true
[core]
    excludesfile = ~/.gitconfig.excludes
[diff]
    algorithm = patience
    renames = copies
[gui]
    diffcontext = 10
    fontdiff = -family Consolas -size 9 -weight normal -slant roman -underline 0 -overstrike 0
    warndetachedcommit = true
[include]
    path = ~/.gitconfig.local
[init]
    templatedir = ~/.gitconfig.template
[merge]
    # Per https://jvns.ca/blog/2024/02/16/popular-git-config-options/
    conflictstyle = diff3
    summary = true
[pull]
    default = current
[push]
    default = current
[rerere]
    # Per https://jvns.ca/blog/2024/02/16/popular-git-config-options/
    enabled = true
[user]
    email = rhys.ulerich@gmail.com
    name = Rhys Ulerich
